<div class="container mt-4">
  <!--<div class="row">
    <h3>Hola mi nombre es {{ nombre }}</h3>    
  </div>
  <div class="row">
    <h3>El resultado de 10+15 es {{getSuma(10,15)}}</h3>
  </div>
  <div class="row">
    <input type="text" class="form-control" [placeholder]="textoPlaceholder" [disabled]="deshabilitado"/>
    <br>
    <img [src]="imgSrc" alt="imagen" width="400px" height="400px">
  </div>-->
  <!--<h3>{{ texto }}</h3>-->
  <!--<button class="btn btn-primary" (click)="cambiarTexto()">
    Click Me
  </button>-->
  <input type="text" class="form-control" placeholder="Escriba algo aqui" [(ngModel)]="texto">
  <br>
  {{ texto }}
</div>